* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

#card {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  background-color: white;
}

#card img {
  height: 55%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
#card h1{
  font-size: 25px;
  margin: 10px 0;
 font-weight: 700;
}

#card h5{
    font-size: 25px;
    margin-bottom: 20px;
    color: red;
}

#btn-container button {
    width: 55%; 
    padding: 12px 0; /* Add padding for button height */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    border: none;
  }


  /* #btn-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  } */

  #add {
    background-color: cadetblue;
    color: white;
  }


/* #remove{ background-color: #daddda;
    color: black;
} */
